/* #add-btn,
#subtract-btn,
#multiply-btn,
#divide-btn,
#equal-btn,
#clear-btn {
	font-size: 20px;
	margin: 2px;
	padding: auto;
} 

*/
/*Added this class instead of referencing all the buttons individually. 
*/
.operator-btn {
	font-size: 20px;
	margin: 2px;
	padding: auto;
}

input {
	font-size: 20px;
}

#result-view {
	font-size: 35px;

}

#math-problems {
	font-size: 25px;
	margin: 6px;
	padding: 10px;
}